body {
            background-color: #c5a8ec;
         
     font-family: Lucida Handwriting, cursive;
} 
        h1 {
            text-align: center;
            color: #426bc2;
        }
        footer{
           text-align: center;
            color: #426bc2;
            font-family: Lucida Handwriting, cursive;
        }
        p{
           color: #426bc2;
        }
 button{
        border-radius: 10px;
        width: 10px
        height: 5px;
       color: #426bc2;
       font-family: Lucida Handwriting, cursive;
       background-color:#C9F0C9;
      }
form{
        border-radius: 20px;
        width: 25px
        height: 20px;
       color: #426bc2;
       font-family: Lucida Handwriting, cursive;
       background-color:#C9F0C9;
      }
            
   
      

